.message {
  background-color: grey;
  font-size: 20px;
  padding: 0 10px;
  margin-bottom: 20px;
  font-weight: bold
}

.message.success {
  border: solid 5px green;
  color: green;
}

.message.error {
  border: solid 5px red;
  color: red;
}